<!-- app/views/comments/new.html.erb -->

<div class="comment-form">
<div class="commentCount">
  <h1 class="form-title">New Comment</h1>
  <% if user_signed_in? %>
      <%= form_with(model: [current_user, Comment.new], url: create_comment_path(current_user), local: true) do |form| %>
        <div class="form-group">
          <%= form.label :text, class: "form-label" %>
          <%= form.text_area :text, rows: 4, class: "form-control" %>
        </div>
        <%= form.submit 'Add Comment', class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <p>You need to <%= link_to 'Log In', new_user_session_path, method: :get %> to comment.</p>
  <% end %>
</div>