<!-- app/views/comments/new.html.erb -->
<div class="comments-form">
  <div class="comments-form-cont">
    <style>
      .go-back{ filter: invert(1) }
    </style>
    <% if user_signed_in? %>
      <%= form_with(model: [current_user, Comment.new], url: create_comment_path(current_user), local: true, class: "user-form-cont") do |form| %>
        <h1 class="comments-form-title">New Comment</h1>
        <div class="field">
          <%= form.label :text %>
          <%= form.text_area :text, rows: 4, placeholder: "add your comment", class: "form-input text-area" %>
        </div>
        <%= form.submit 'Add Comment', class: "submit-btn" %>
        <%= link_to "go back", :back, class: 'shared-link go-back' %>
      <% end %>
    <% else %>
      <p>You need to <%= link_to 'Log In', new_user_session_path, method: :get %> to comment.</p>
      <div class="shared-links">
        <%= link_to "go back", :back, class: 'shared-link go-back' %>
      </div>
    <% end %>
  </div>
