<div class="user-form">
  <%= render "devise/shared/error_messages", resource: resource %> </br>
<div class="user-form-cont">
  <h2 class="user-form-title">Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-input", placeholder: "enter new password", required: true %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-input", placeholder: "confirm new password", required: true %>
    </div>
    <%= f.submit "Change my password", class: "submit-btn" %>
  <% end %>
  <div class="shared-links">
    <%= link_to "cancel", users_path, class: 'shared-link go-back' %>
    <%= render "devise/shared/links" %>
    <style>
      .shared-link:nth-child(2), .shared-link:nth-child(3) { display: none; }
    </style>
  </div>
</div>
