<div class="user-form">
  <%= render "devise/shared/error_messages", resource: resource %> </br>
<div class="user-form-cont">
  <h2 class="user-form-title">Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="field">
      <%= f.label :password, "New password", class:"form-input" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class:"form-input", required: true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-input", required: true %>
    </div>
    <%= f.submit "Change my password", class: "submit-btn" %>
  <% end %>
  <div class="shared-links">
    <%= link_to "cancel", :back, class: 'shared-link go-back' %>
    <%= render "devise/shared/links" %>
  </div>
</div>
