<% @user.recent_posts.includes(:user, :comments).each do |post| %>
  <%= link_to user_post_path(user_id: post.author_id, id: post.id), class: 'shared-posts-card' do %>
    <div class="shared-posts">
      <h3 class="postTItle"><%= post.title %></h3>
      <p><%= post.text %></p>
      <p class="shared-posts-actions">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
    </div>
  <% end %>
<% end %>
