<%# app/views/posts/_posts_display.erb %>
<% @user.posts_user.each do |post| %>
  <%= stylesheet_link_tag "posts" %>
  <%= link_to user_post_path(user_id: post.author_id, id: post.id), class: 'posts-display-card' do %>
    <div class="posts-display-cont">
      <h3 class="posts-display-title"><%= post.title %></h3>
      <p class="posts-dislplay-text"><%= post.text %></p>
      <p class="posts-display-actions">Comments:
        <%= post.comments_counter %>, Likes:
        <%= post.likes_counter %></p>
    </div>
    <%= render_comments_section(post) %>
  <% end %>
<% end %>
