<% PostsHelper %>
<%= stylesheet_link_tag "posts" %>
<div class="posts-index">
  <div class="posts-index-card">
    <%= render "shared/user_card", user: @user %>
  </div>
  <%# app/views/posts/_posts_display.erb %>
  <div class="posts-index-wrapper">
    <%= render "posts_display", user: @user, data: { turbo: false } %>
  </div>
  <div class="posts-index-actions">
    <%= button_to "Go Back", user_path(@user), method: :get, class: "btn" %>
    <%= button_to "Go Home", users_path, method: :get, class: "btn" %>
    <% if user_signed_in? %>
      <% if current_user.id == @user.id or can? :create, :all %>
        <%= link_to "New Post", new_user_post_path, class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
