<% PostsHelper %>

<html>
  <head>
    <%= stylesheet_link_tag "posts" %>
  </head>
  <body>
    <div class="posts-index">
      <div class="posts-index-card">
        <%= render "shared/user_card", user: @user %>
      </div>

      <%# app/views/posts/_posts_display.erb %>
      <div class="posts-index-wrapper"> 
      <%= render "posts_display" %>
      </div>

      <div class="posts-index-actions">
        <%= button_to 'Go Back', user_path(@user), method: :get, class: 'btn' %>
        <%= button_to 'Go Home', users_path, method: :get, class: 'btn' %>
        <%= link_to "New Post", new_user_post_path, class: "btn" %>
      </div>
    </div>
  </body>
</html>
