<!DOCTYPE html>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
<html>
  <head>
    <title>Velasquez Blog</title>
    <meta name= "viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class ="layout-app">
      <%# app/views/shared/_user_bar %>
      <%= render partial: 'shared/user_bar' %>
    </div>
    <div class ="layout-errors">
      <% if alert.present? || notice.present? %>
        <div class="alerts">
          <%= alert %>
          <%= notice %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
